/*Rojo - bullet : #f64552
Gris - bullet : #f8f8f8
Amarillo - botones : #fbd43b
Gris dark : #212121
Gris - letra soft : #8f8f8f
Turquesa - Términos y condiciones: #00c3a3
Morado - Entrada de números : #49233b
Morado light : #451e36
Morado dark : #38052a*/



*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}

body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}

#info{
	margin-top: 20px;
}

.inicio{
	margin: 30px 0;
}

.inicio img{
	width: 40%;
	height: 40%;
}
.inicio h2, .inicio h3{
	font-weight: 800;
	color: black;
}

.btn-inicio button{
	width: 90%;
	background-color: #fbd43b;
	color: white;
}

.inputCel{
	margin-left: 20px;
}

.inputCel span{
	padding: 0;
}
.inputCel img{
	width: 70px;
	height: 20px;
	/*margin-bottom: 10px;
	margin-left: 10px;*/
}
.inputCel input{
	border-top: none;
	border-left: none;
	border-right: none;
	height: 50px;
	outline: 0;
	border-color: #212121;
}

#terminos{
	color: #00c3a3;
}
