/*Rojo - bullet : #f64552
Gris - bullet : #f8f8f8
Amarillo - botones : #fbd43b
Gris dark : #212121
Gris - letra soft : #8f8f8f
Turquesa - Términos y condiciones: #00c3a3
Morado - Entrada de números : #49233b
Morado light : #451e36
Morado dark : #38052a*/



*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}

body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}

.marginTop{
	padding-top: 20px;
}

.inicio{
	margin: 30px 0;
}

.inicio img{
	width: 30%;
	height: 30%;
}
.inicio h2, .inicio h3{
	font-weight: 800;
	color: black;
}

.btn-inicio button{
	width: 90%;
	background-color: #fbd43b;
	color: white;
}

.inputCel, .inputCod{
	margin-left: 20px;
}

.inputCel span{
	padding: 0;
}
.inputCel img{
	width: 60px;
	height: 35px;
}
.inputCel input, .inputCod input{
	border-top: none;
	border-left: none;
	border-right: none;
	height: 50px;
	outline: 0;
	border-color: #212121;
}

.btn-continuar{
	margin-top: 70px;
}

.inputCod, .inputCel{
	margin-top: 20px;
}
.msje{
	margin-top: 10px;
}

.inputCod img{
	width: 30px;
	height: 20px;
}

#terminos{
	color: #00c3a3;
}

#check{

	background-color: #fbd43b;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#check img{
	width: 40%;
	height: 40%;
}

.feliz{
	background-color: #451e36;
	height: 35vh;
	overflow: auto;
}
.feliz img{
	width: 25%;
	height: 25%;
}

.movimientos{
	background-color: #38052a;
	height: 65vh;
	overflow: auto;
}
.movimientos img{
	width: 50%;
	height: 50%;
}

.question img{
	width: 20%;
	height: 20%;
}

.inputFecha{
	width: 100%;
}

.inputFecha input{
	display: inline-block;
}

.inputFecha img{
	width: 20%;
	height: 20%;
}
